body {
    margin:0;
}
.login-box{
    color: #2c2c2c!important;
    border-radius: 0;
    -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    background-color: white;
    margin: 7%;
}
#login{
    background-image: url(../landing/assets/images/login/bg.jpg);
    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 481px) and (max-width: 1023px) {
    .one {
        background: url(../landing/assets/images/bg1.jpg)bottom center no-repeat !important;
        background-position: center;
        background-size: 100% 100% !important;
        z-index: 10;
    }
    .three {
        background-color: #999;
        width: 30vw !important;
        max-width: 30vw;
    }
}
@media (min-width: 1024px) {
    #container .box {
        width:100vw;
        height:100vh;
        display:inline-block;
        position:relative;
        color: black;
    }
    #container .box > div {
        font-size:96px;
        color:black;
        /*position:absolute;*/
        top:20%;
        line-height:.7;
        font-weight:bold;
        margin-top: 5%;
    }

    .p-coin {
        font-size: 3vh;
        margin-top: 15%;
    }
    #container {
        overflow-y:scroll;
        transform: rotate(270deg) translateX(-100%);
        transform-origin: top left;
        background-color:#999;
        /*position:absolute;*/
        width:100vh;
        height:100vw;
        margin: 0px;

    }
    #container::-webkit-scrollbar {
        display: none;
    }
    #container2 {
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
        white-space:nowrap;
        font-size:0;
    }

    .one {
        background: url(../landing/assets/images/bg1.jpg)bottom center no-repeat !important;
        background-position: center;
        background-size: 100% 100% !important;
        z-index: 10;
    }
    .two {
        background: url(../landing/assets/images/bg2.jpg)bottom center no-repeat !important;
        background-position: center;
        background-size: 100% 100% !important;
        z-index: 0;
    }
    .three {
        background-color: #999;
        width: 30vw !important;
        max-width: 30vw;
    }
    .four {
        background-color: #E84B30;
    }
    .train {
        display: block;
        max-width: 100%;
        position: absolute;
        bottom: -70px;
        opacity: 1;
        transition: all 0.9s ease-out;
        transform: translate(-50%, 100%);
    }
}

.coin-img{
    width: auto;
    height: 10vh;
}
